<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dostępne kursy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        footer {
            background-color: #333;
            text-align: center;
            color: #fff;
            padding: 1rem;
            margin-top: auto;
        }
    </style>
</head>
<body>
<h2>Dostępne kursy</h2>
<div>
    <section>
        <table>
            <tbody>
            <tr>
                <th>Id
                </th>
                <th>Nazwa kursu
                </th>
                <th>Data rozpoczęcia kursu
                </th>
                <th>Czas trwania kursu [godziny]
                </th>
                <th>Bloki tematyczne
                </th>
            </tr>
            <tr th:each="course:${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.courseStartDate}"></td>
                <td th:text="${course.courseDurationInHours}"></td>
                <td>
                    <ul>
                        <li th:each="subject: ${course.subjects}"><a th:href="@{'/subjects/' + ${subject.id}}"
                                                                     th:text="${subject.subjectName}"></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<form>
    <input type="button" value="Back" onclick="history.go(-1)">
</form>
<footer>
    &copy; 2023 TechMaster. Wszelkie prawa zastrzeżone.
</footer>
</body>
</html>