<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowy kurs</title>
</head>
<body>

<form th:action="@{/courses/create}" method="post" th:object="${course}">
  <label>Nazwa</label></br>
  <input type="text" th:field="*{courseName}" /> <br>

    <label>Start kursu(YYYY-MM-DD)</label></br>
    <input type="text" th:field="*{courseStartDate}" /> <br>

  <label>Czas trwania kursu(godz)</label></br>
  <input type="number" th:field="*{courseDurationInHours}" /> <br>

  <button type="submit">Zapisz</button>
</form>

</body>
</html>