<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calculator-form">Nasza misja</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kontakt
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/quiz/create">Dodaj quiz</a>
                    <a class="dropdown-item" href="/admin/quiz/index">Lista quizów</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<ul>
    <body>
    <h1>Coders Academy</h1>
    <li><a href="/courses">Zobacz wszystkie kursy</a></li>
    <li><a href="/courses/create">Dodaj nowy kurs</a></li>
    <li><a href="/course/update">Zaktualizuj kurs</a></li>
    <li><a href="/course/delete">Usuń kurs</a></li>
    </body>
</ul>
<form>
    <form>
        <input type="button" value="Log out" onclick="history.go(-1)">
    </form>
</form>
</div>
</body>
</html>